<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--别名-->
    <typeAliases>
        <package name="com.skr.pojo"/>
    </typeAliases>
    <!--要引入的mapper文件的位置-->
    <mappers>
        <mapper resource="com/skr/dao/BookMapper.xml"/>
    </mappers>

</configuration>